.square{
	width:30%;
	background:purple;
	padding-bottom:30%;
	float:left;
	margin:1.6%;
	border-radius:50%;
	
	
}

#container{
	
	max-width:600px;
	margin:0 auto;
	
}

body{
	background:black;
	margin:0;
	font-family:calibri;
	font-weight:normal;
	
	
}
h1{
	color:white;
	text-align:center;
	background:black;
	margin:0;
	font-weight:normal;
	text-transform:uppercase;
}

span{
	color:white;
	text-align:center;
}

#gameOver{
	color:white;
	text-align:center;
	margin-top:250;
}

#reset{
	background:silver;
	text-align:center;
	margin-left:45%;
	border:none;

}

#displayMessage{
	margin-left:auto 50;
	color:black;
}

#align{
	text-align:center;
	background:steelblue;
	margin-top:0;
}

.selected{
	background:black;
	color:white;
}

#colorDisplay{
	font-size:200%;
}

button{
	border:none;
	background:silver;
	font-size:inherit;
	text-transform:uppercase;
}

#displayMessage{
	display:inline-block;
	width:20%;
}

button:hover{
	background:black;
	color:silver;
}
#reset:hover{
	background:steelblue;
	color:black;
	}